.sidebar li .submenu {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

.sidebar .nav-link {
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--bs-light);
}
.sidebar .nav-link:hover {
  color: var(--bs-warning);
}
.hero {
  background-color: white;
}
.utama {
  font-size: 2rem;
  font-style: normal;
  text-decoration: none;
  color: black;
}
.utama:hover {
  color: var(--bs-success);
}
h2,
p {
  color: white;
}
h3 {
  color: white;
}
.logo-asuransi,
img {
  display: flex;
  height: 50px;
  margin: 0 0.5rem;
}
